:root{
    --TemaContenido: rgb(227, 235, 236);
    --cajaSemana:rgb(50, 196, 176);
}

/*ajusta su contendio a una pocision, tamaño y color especifico  */
.caja-contenido{
    position: absolute;
    top: 1rem;
    left: 15rem;
    background: var(--TemaContenido);
    width: 1100px;
    height: 500px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
}
/*coloca una imagen de fondo le dice que se ajuste a todo su contenedor y que no se repita le da un ancho y altura especifica con radio en sus esquinas*/
.caja-contenido .mini-header{
    background-image: url(/foto-portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 1050px;
    height: 8rem;
    border-radius: 10px;
}
/*especifica que la pocision siga su flujo normal al documento y despues la pocisiona con margin*/
.caja-contenido .mini-header h4{
    position: absolute;
    margin-top: 6.5rem;
    margin-left: 10rem;
    color: white;
}
/*especifica color tamaño y posicion a la cja*/
.caja-contenido .mini-header .caja-foto-perfil{
    background: var(--TemaContenido);
    border-radius: 100%;
    width: max-content;
    overflow: hidden;
    position: relative;
    top: 4rem;
    left: 3rem;
}
/* especifica que siempre tenga su anchura y altura siempre sea de 100pixeles */
.caja-contenido .mini-header .caja-foto-perfil img{
    width: 100px;
    height: 100px;
}
/* usa la propiedad flex */
form{
    display: flex;
}

/*se da color tamaño  y se pocisiona en vertical da un espaciado interno */
.semana{
    background:var(--cajaSemana);
    width: 250px;
    height:max-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
    border-radius: 10px;
    margin-top: 2.4rem;
}
/* da color al fondo y da un espaciado interno */
.semana label{
    background:var(--TemaContenido);
    padding: .5rem;
    border-radius: 10px;
    display: flex;
    gap: .5rem;
}
/* especifica una altura y tamaño */
.semana label input{
    width: 16px;
    height: 16px;
}
/* se da pocision especifica  usa margenes arriba y a la izquierda quita el borde que trae por defecto */
form button{
    position: absolute;
    font-size: 9px;
    margin-top: 2.6rem;
    margin-left: 10.9rem;
    border-radius: 30px 30px 30px 0;
    border: none;
    padding: .25rem;
    cursor: pointer;
}
/* datos personales */
.icono{
    width: 40px;
    height: 40px;
}
/* redesssssssssssssssssssssss */
.caja-redes{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 00px;
    left: 1rem;
}
.boton-red{
    width: 80%;
    height: 60px;
}

.boton-red label{
    font-size: 23px;
}

.boton-red label .icono{
    width: 60px;
    height: 60px;
}
